.wrapper {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
}

header {
    display: flex;
    justify-content: space-between;
}

.title {
    align-self: center;
}

@media only screen and (max-width: 474px) {
    /*h1 {
        display: none;
    }
    
    .logo {
        display: none;
    }
    
    .hero img {
        display: none;
    }*/
    
    img {
        width: 100%;
        height: 100%;
    }
    
    .project {
        flex-direction: column;
    }
   
    .content {
        display: none;
    }
}

@media only screen and (min-width: 475px) and (max-width: 700px) {    
    header {
        justify-content: space-between;
    }
    
   img.heroImage {
        width: 100%;
    }
    
    .project {
        flex-direction: column;
    }
    
    img {
        width: 100%;
    }
}

@media only screen  and (min-width: 701px) {    
    header {
        justify-content: space-between;
    }
    
   img.heroImage {
        width: 100%;
    }
    
    img {
        width: 100%;
    }
}

.hero p {
    font-family: 'Lustria', serif;
    color: #51260e;
}

.project {
    width: 100%;
    display: flex;
}

.one {
    flex: 1;
}

.two {
    flex: 1;
}

.three {
    flex: 1;
}